.App {
  text-align: center;
}
.background{
background-image: url("https://i.pinimg.com/736x/07/4c/21/074c217ad1f31da46a804e19fde5748a.jpg");
}
.background2{
  background-image:  url(https://cdn.pixabay.com/photo/2017/09/12/11/56/universe-2742113__340.jpg);
}
a{
  color: green;
  font-size: 20px;
  font-family: monospace;
}
p{
color: green;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
